pre.output {
  padding: 1.25rem 1.5rem;
  background-color: rgb(245, 245, 245);
  border-width: 1px 1px 1px 4px;
  border-style: solid;
  border-color: rgb(221, 221, 221) rgb(221, 221, 221) rgb(221, 221, 221) rgb(230, 82, 44);
  border-image: initial;
  overflow-x: auto;
}
